body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background: rgb(2, 0, 36);
    background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(4, 4, 85, 1) 28%, rgba(3, 3, 71, 1) 57%, rgba(7, 78, 152, 1) 100%, rgba(0, 212, 255, 1) 100%);
}

#game-box {
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    position: relative;
}

#input-box {
    margin: 10px 0;
}

#hints-container {
    margin-top: 20px;
    text-align: left;
}

.hint {
    margin-bottom: 10px;
}

#timer {
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
}

#message-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    display: none;
}

#message-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    display: none;
    z-index: 999;
}